<!-- header -->
<%- include('include/_header')%>

<main id="site-main">
    <div class="container newcon">
      <div class="box-nav d-flex justify-between">
        <div class="filter">
          <a href="/"
            ><i class="fas fa-angle-double-left"></i>All Restaurant</a
          >
        </div>
      </div>
      <div class="form-title text-center">
        <h2 class="text-dark">New Restaurant</h2>
        <span class="text-light"
          >Use the below form to create new Restuarant</span
        >
      </div>

      <%- include('include/_form')%>
     
    </div>
  </main>

<!-- footer -->
<%- include('include/_footer')%>